@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Branco */
    --foreground: 222.2 84% 4.9%; /* Texto escuro */

    --card: 0 0% 100%; /* Branco */
    --card-foreground: 222.2 84% 4.9%; /* Texto escuro */
 
    --popover: 0 0% 100%; /* Branco */
    --popover-foreground: 222.2 84% 4.9%; /* Texto escuro */
 
    /* Cores dinâmicas com fallbacks */
    --primary-h: var(--custom-primary-h, 158);
    --primary-s: var(--custom-primary-s, 100%);
    --primary-l: var(--custom-primary-l, 19.6%);
    --primary: var(--primary-h) var(--primary-s) var(--primary-l);
    --primary-foreground: 0 0% 100%; /* Branco */
 
    --secondary-h: var(--custom-secondary-h, 210);
    --secondary-s: var(--custom-secondary-s, 40%);
    --secondary-l: var(--custom-secondary-l, 96.1%);
    --secondary: var(--secondary-h) var(--secondary-s) var(--secondary-l);
    --secondary-foreground: 222.2 47.4% 11.2%; /* Texto escuro */
 
    --accent-h: var(--custom-accent-h, 158);
    --accent-s: var(--custom-accent-s, 100%);
    --accent-l: var(--custom-accent-l, 25%);
    --accent: var(--accent-h) var(--accent-s) var(--accent-l);
    --accent-foreground: 0 0% 100%; /* Branco */

    --muted: 210 40% 96.1%; /* Cinza claro */
    --muted-foreground: 215.4 16.3% 46.9%; /* Cinza médio */
 
    --destructive: 0 84.2% 60.2%; /* Vermelho padrão */
    --destructive-foreground: 210 40% 98%; /* Branco */

    --border: 214.3 31.8% 91.4%; /* Cinza claro para bordas */
    --input: 214.3 31.8% 91.4%; /* Cinza claro para inputs */
    --ring: var(--primary-h) var(--primary-s) var(--primary-l);
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    /* Cores dinâmicas para o tema escuro, ajustando a luminosidade */
    --primary: var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.5);
    --primary-foreground: 0 0% 100%;
 
    --secondary: var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) * 0.2);
    --secondary-foreground: 210 40% 98%;
 
    --accent: var(--accent-h) var(--accent-s) calc(var(--accent-l) * 1.2);
    --accent-foreground: 0 0% 100%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: var(--primary-h) var(--primary-s) calc(var(--primary-l) * 1.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}